import pwd

import actions
import proc

NICER = "./nicer"

VIRTVIEWER = "/usr/bin/virt-viewer"
FIREFOX = "/usr/bin/firefox-bin"
LIBVIRT_UID = pwd.getpwnam("libvirt-qemu").pw_uid

def virtviewer():
  for pid in proc.lookup_pid_from_exe(VIRTVIEWER):
    yield actions.set_priority(pid, -5, 19)
  for pid in proc.lookup_pid_from_uid(LIBVIRT_UID):
    yield actions.set_priority(pid, -5, 19)

  yield actions.set_vsched("myvm", 100000, 17592186044415, 20000, 1000)

def firefox():
  for pid in proc.lookup_pid_from_exe(FIREFOX):
    yield actions.set_priority(pid, -1, 5)

INTERESTING = {
  FIREFOX: firefox,
  VIRTVIEWER: virtviewer,
}
